

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

                    <a href="#about" >About</a>

					<a href="#skills">skill</a>

					<a href="/Project">Project</a>

					

					<a href="/Resume">Resume</a>

					<a href="/Contact">Contact</a>
				</p>

				<p>Balarathinam T &copy;2024</p>
			</div>

		</footer>
