<nav class="navbar-expand-md border-bottom mb-3">
<div class="container">
    <ul class="nav justify-content-center">
           <li class="nav-item">
            <a class="nav-link test-secondary" routerLink="/Home" routerLinkActive="text-dark">Home</a>
           </li>
           <li class="nav-item">
            <a class="nav-link test-secondary" routerLink="/Project" routerLinkActive="text-dark">Project</a>
           </li>
           <li class="nav-item">
            <a class="nav-link test-secondary" routerLink="/Resume" routerLinkActive="text-dark">Resume</a>
           </li>
           <li class="nav-item">
            <a class="nav-link test-secondary" routerLink="/Contact" routerLinkActive="text-dark">Contact</a>
           </li>
    </ul>
</div>
</nav>